*.iml
.gradle
.gradle-local
.gradle-user-home
.kotlin
.inspect-jars
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
.tmp-aar-inspect
.tmp-sdk-inspect
.tmp-stream-webrtc-patch
.tmp-stream
.tmp-src
.tmp-aar-verify
.tmp-aar-verify2
